<!DOCTYPE html>

<head>
    <title>Forma e regjistrimit te pikave kufitare</title>
    <link href="css/style.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="js/script.js"></script>
   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
    <div class="container-fluid">
        
        
              
        

        